body {
    background-color: #eeeeee;
}

#QuizContainer {
    height: 60vh;
}
.bild{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
  
.bild2{
    position: absolute;
    top: 2px;
    left: 50px;
    width: 40px;
    height: 40px;
  
}

.bild3{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 40px;
    height: 40px;
  
}

.container {
background-color:lightblue;
position: relative;
width: 100px;
display: block;
border-radius: 13%;


}

.stopBtn {
    
    color : white;
    font-size: 70%;
    background:red  ;
    display: block;
    text-align: center;
    padding:  14px 10px;
    outline: none;
    border-radius: 24px;
    transition:  0.25s;
    position: relative;
    top:3vh;
    left: 49%;
    display: none;
    }



.startBtn {
  
    color : white;
    font-size: 14px;
    background: green  ;
    display: block;
    text-align: center;
    border: 2px solid green;
    padding:  14px 10px;
    width: 30%;
    outline: none;
    border-radius: 24px;
    transition:  0.25s;
    position: absolute;
    top:45%;
    left: 36%;
    }

    
.startBtn :focus {
    width: 280px;
    }



.grid {
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
    position: relative;
    top: 5vh;
}
.container ul{
    padding: 0px;
    margin: 0px;
}



.grid h1 {
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 170%;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}

#score {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #5A6772;
}

.buttons {
    width: 100%;
    height: 30%;
    padding-left: 10%;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #778897;
    width: 30%;
    font-size: 120%;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    bottom: auto;
    height: 30%;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}


input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    padding: 0.2em;
    position: relative;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
 
    border: 0.1em solid white;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb; 
    border-color: #bfb;
  }

#lab1 {

color: white;
width: 0rem;
padding-right: 40px;
  }
#noten{
    background-color: lightcyan;
    height: 25%;
    width: 100% !important ;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #cbcbcb;
   
} 

.swal-button--confirm {
    
  }

  .swal-button--abbrechen {
   background-color: brown;
    
  }